@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	/* Test CSS */
	box-sizing: border-box;
	position: relative;
	letter-spacing: 0.04em;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: #333;
	color: #fff;
	line-height: 1.6;
	height: 100vh;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	justify-content: center;
	align-items: center;
}

/* .logo-container {
	display: flex;
	justify-content: center;
} */

.logo {
	width: 10%;
	min-width: 192px;
	height: 80px;
	z-index: 1;
	position: fixed;
	/* border-radius: 15px; */
}

.container {
	width: 100%;
	height: 100%;
	/* CSS SMOOTH SCROLL */
	overflow-y: scroll;
	scroll-behavior: smooth;
	/* scroll-snap-type: y mandatory; */
}

.navbar {
	position: fixed;
	top: 0;
	z-index: 2;
	display: flex;
	width: 100%;
	height: 80px;
	background: rgba(0, 0, 0, 0.75);
}

.navbar ul {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.navbar ul li {
	margin: 0;
	padding: 1rem;
}

.navbar ul li a {
	text-decoration: none;
	text-decoration: uppercase;
	color: #fff;
	transition: 0.3s;
}

.navbar ul li a:hover {
	color: #849a8a;
}

@media (max-width: 775px) {
	.logo {
		/* width: 50px;
		min-width: 194px;
		min-height: 80px;
		z-index: 1;
		position: fixed;
		padding-left: 20px;
		padding-top: 50px; */
		visibility: collapse;
	}
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	/* text-align: center; */
	width: 100%;
	height: 100vh;
	/* scroll-snap-align: center; */
	line-height: 1.3;
	overflow: hidden;
	position: relative;
}

.revealUp {
	opacity: 0;
	visibility: hidden;
}

section h1 {
	font-size: 4rem;
}

section h2 {
	font-size: 3rem;
}

/* Section Images */
/* section#home {
	background: url(https://images.unsplash.com/photo-1489379391348-c9f07b42b696?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
		no-repeat center bottom/cover;
} */

section#home {
	background: url(./assets/becca-romine-Lll4QeybDEg-unsplash.jpg) no-repeat center bottom/cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

section#about {
	background: url(./assets/steven-lu-CIyDU5WLxxw-unsplash.jpg) no-repeat center center/cover;
	display: flex;
	padding-top: 4em;
}

.about-me {
	background-color: rgb(24, 26, 28, 0.8);
	padding: 20px;
	max-width: 667px;
	/* line-height: 1.5; */
}

.about-me p {
	line-height: 1.5;
	padding: 10px;
}

.about-me p a {
	text-decoration: underline;
	color: #fff;
}
.about-me p a:hover {
	text-decoration: underline;
	color:#849a8a
}

section#skills {
	background: url(https://images.unsplash.com/photo-1598237601465-af66b7475e92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80)
		no-repeat center center/cover;
	padding-top: 4em;
}

.skills-container {
	display: flex;
	align-items: center;
}

.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin: 1rem;
}

.icon-container i {
	font-size: 4rem;
	transition: 0.5s;
	padding: 0.75rem;
}

section#projects {
	background: url(./assets/andrew-kliatskyi-B_Z9jqassqE-unsplash.jpg) no-repeat center bottom/cover;
	height: 150vh;
	padding-top: 4em;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

/* Featured Card */
.card--featured {
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card--featured .card__img {
    background-image: url("./assets/Mothers-in-the-Workforce-Cover.png");
    height: 300px;
	background-position: left center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

.card--featured .card__info {
    padding: 24px;
}

.card--featured .card__title {
    font-size: 1.5rem;
}

.card__title a, .card_links {
    text-decoration: none;
    color: #fff; /* Ensure the text is white by default */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition for color and underline */
}

/* Hover effect: change color and underline */
.card__title a:hover, .card_links:hover {
    color: #f39c12; /* Change to the desired hover color */

}

/* Project Cards */
.cards {
	width: 100%;
	display: flex;
	justify-content: space-between;
	max-width: 1024px; /* Increased width to accommodate wider images */
	margin: 10%;
}

.card--1 .card__img,
.card--1 .card__img--hover {
	background-image: url("./assets/Unicorn-Budget-Thumbnail-copy.png");
}

.card--2 .card__img,
.card--2 .card__img--hover {
	background-image: url("./assets/KimberlyAnneAgency-thumbnail.png");
}

.card__img {
	background-size: cover;
	background-position: left center ;
	background-repeat: no-repeat;
	width: 100%;
	height: 235px;
	border-top-left-radius: 12px;
}

.card__info-hover {
	position: absolute;
	padding: 16px;
	width: 100%;
	opacity: 0;
	top: 0;
}

.card__img--hover {
	transition: 0.2s all ease-out;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
	height: 235px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	top: 0;
}

.card {
	width: 48%;
    background-color: #181a1c;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    transition: none; /* No size transformation on hover */
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    background-color: #181a1c; /* Keep the card background black */
}

.card__info {
    z-index: 2;
    background-color: #181a1c;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
    color: #fff;
    transition: color 0.3s ease; /* Text color transition */
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Roboto Slab", serif;
    color: #fff; /* Ensure title remains white */
}

.card_links_container {
    display: flex;
    align-items: center;
}

.card_links_container a {
    margin: 0 5px;
}

.card_links_container span {
    margin: 0 5px;
    color: #849a8a; /* Adjust the separator color */
}

.card__demo, .card_links {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #849a8a;
    transition: color 0.3s ease;
}

.card__demo:hover, .card_links:hover {
    color: #f39c12; /* Change to desired hover color */
}





footer {
	/* background: url(https://images.unsplash.com/photo-1584968193683-03f65a63e242?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
	 no-repeat center top/cover; */
	background-color: #181a1c;
	height: 20vh;
}

.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	font-size: 2rem;
	/* flex-direction: column; */
}

.footer-container a {
	font-size: 2rem;
	color: #849a8a;
	transition: 0.3s;
	text-decoration: none;
}

.footer-container p {
	font-size: 0.9rem;
	padding: 10px;
	
}

.footer-container a:hover {
	opacity: 0.5;
}

.icon-socials-container-2 {
	display: flex;
	align-items: center;
}

@media (max-width: 620px) {
	footer {
		/* background: url(https://images.unsplash.com/photo-1584968193683-03f65a63e242?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
	 no-repeat center top/cover; */
		background-color: #181a1c;
		height: 25vh;
	}
	.footer-container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1em;
		flex-direction: column;
	}
}



/* For Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll thumb */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
}

/* For Firefox */
scrollbar-width: thin; /* Sets the scrollbar width to thin */
scrollbar-color: #888 #f1f1f1; /* Sets the scrollbar thumb and track colors */